<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="d-flex flex-column mb-3 justify-content-center ">
                        <div class="p-2  cglobal">
                            <app-loader *ngIf="isLoader"></app-loader>
                            <p class="numbers text-center" >
                               {{tracker[0].cases | number}}
                            </p>
                        </div>
                        <p class="text-center belowtxt p-2">Global</p>
                      </div>         
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="d-flex flex-column mb-3 justify-content-center ">
                            <div class="p-2  crecovered">
                                <app-loader *ngIf="isLoader"></app-loader>
                                <p class="numbers text-center">
                                   {{tracker[0].recovered | number}}
                                </p>
                            </div>
                            <p class="text-center belowtxt2 p-2">Recovered</p>
                          </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="d-flex flex-column mb-3 justify-content-center ">
                            <div class="p-2  cconfirmed">
                                <app-loader *ngIf="isLoader"></app-loader>
                                <p class="numbers text-center"> {{tracker[0].active | number}}
                                </p>
                            </div>
                            <p class="text-center belowtxt3 p-2">Confirmed</p>
                          </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="d-flex flex-column mb-3 justify-content-center ">
                            <div class="p-2 cdeaths">
                                <app-loader *ngIf="isLoader"></app-loader>
                                <p class="numbers text-center">
                                    {{tracker[0].deaths | number}}
                                </p>
                            </div>
                            <p class="text-center belowtxt4 p-2">Deaths</p>
                          </div> 
                       </div> 
            </div>
             

        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th scope="col" class="col-7">Country</th>
                                <th scope="col" class="col-5">Cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <app-loader *ngIf="isLoader"></app-loader>
                            <tr *ngFor="let item of tracker; let i=index">
                                <th scope="row" class="col-7">{{item.country}}</th>
                                <td class="col-5">{{item.cases|number}}</td>
                            </tr>
                            
                        </tbody>
                    </table>


                </div>
        
               
            </div>
        </div>


             
        
    </div>

    
</div>
