<br>
<div class="container">
    <div class="row">
        
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 ">
            <div class="d-flex flex-column mb-3 justify-content-center ">
                <div class="p-2  cglobal">
                    <p class="numbers text-center">15,153,211</p>
                </div>
                <p class="text-center belowtxt p-2">Global</p>
              </div>         
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 ">
                <div class="d-flex flex-column mb-3 justify-content-center ">
                    <div class="p-2  crecovered">
                        <p class="numbers text-center">15,153,211</p>
                    </div>
                    <p class="text-center belowtxt2 p-2">Recovered</p>
                  </div> 
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 ">
                <div class="d-flex flex-column mb-3 justify-content-center ">
                    <div class="p-2  cconfirmed">
                        <p class="numbers text-center">15,153,211</p>
                    </div>
                    <p class="text-center belowtxt3 p-2">Confirmed</p>
                  </div> 
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3 ">
                <div class="d-flex flex-column mb-3 justify-content-center ">
                    <div class="p-2 cdeaths">
                        <p class="numbers text-center">15,153,211</p>
                    </div>
                    <p class="text-center belowtxt4 p-2">Deaths</p>
                  </div> 
               </div>    
        
    </div>
</div>
